.App {
  text-align: center;
}

.control,
.tracked-players
{
  display: flex;
}

.control-name,
.control-rank,
.control-mmr,
.control-matches,
.control-wins,
.control-losses,
.control-abandons,
.control-win-percent,
.control-buttons,
.name,
.rank,
.mmr,
.matches,
.wins,
.losses,
.abandons,
.win-percent,
.buttons
{
  border: solid black 1px;
}

.control-name,
.name
{
  width: 200px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}